[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Wezterm
Comment=Wezterm
Icon=/home/cesc/src/dotfiles/src/linux/gnome-apps/wezterm.svg
Exec=/home/cesc/bin/wezterm
Terminal=false
Categories=Terminal;
