history.txt
src/os-this-machine.nu
src/linux/gnome-apps/start-tor-browser.desktop
src/linux/gnome-apps/Browser
config/broot/launcher
config/broot/config/
config/broot/data/
samsung-uld-copy/
config/glazewm/errors.log
local/share/aba.toml
